.App {
    background-image: url(./img/mainBgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
}

.box {
    background-color: black;
    opacity: 80%;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0.5rem;
}

.add {
    cursor: pointer;
}

@media (max-width: 500px) {
    .inputAdd {
        width: 200px;
    }

    .addTodo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
